.fixed {
  &.sidebar-collapse {
    .ol-map {
      margin-left: 0;
    }
  }
  .ol {
    &-popup {
      position: absolute;
      background-color: white;
      -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
      filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      bottom: 12px;
      left: -50px;
      min-width: 340px;
      text-align:center;
      &.marker {
        bottom: 62px;
      }
      .btn-primary {
        margin: 8px 0;
      }
      &:after, &:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      &:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      &-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
        &:after {
          content: "✖";

        }
      }
      .description {
        font-family: "Playfair Display", serif;

        font-style: italic;
        font-size: 20px;
        margin-bottom: 4px;
        margin-bottom: 4px;
        &:before, &:after {
          content: "\"";
        }
      }
      &-comments {
        max-height: 100px;
        overflow: scroll;
        &-single {
          font-family: 'Playfair Display';
          margin: 10px 0;
          &-stars {
            display: inline-block;
            background: #8a8a8a;
            padding: 4px;
            margin-top: 4px;
            border-radius: 8px;
            .fa-star {
              &-positive {
                color: #fada5e;
              }
              &-negative {
                color: black;
              }
            }
          }
        }
      }
      h2 {
        font-family: "Playfair Display", serif;

        font-size: 32px;
        margin-top: 0;
      }
      .discoverer {
        font-family: "Playfair Display", serif;
        &:before {
          content: "Entdecker: ";
        }
        font-size: 20px;
        margin-bottom: 4px;
      }
      input {
      }
    }

    &-map {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin-left: 400px;
      border: none;
      padding-top: 50px;
      -webkit-transition: margin 0.5s ease;
      -o-transition: margin 0.5s ease;
      transition: margin 0.5s ease;
      @media (max-width: 767px) {
        margin-left: 0;
      }
      .ol-notice {
        right: 0;
        position: absolute;
        z-index: 1;
        background: white;
        padding: 12px;
        font-weight: bold;
        border-bottom-left-radius: 12px;
      }
    }
  }
}


.skin-green-light {
  .sidebar-form {
    border:none;
    .input-group {
      border: 1px solid #d2d6de;
    }
    .search-entry {
      background: white;
      border: 1px solid #d2d6de;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding: 14px;
      margin: 20px 0;

      h2 {
        margin-top: 0;
        font-family: "Playfair Display", serif;

      }

      .description {
        font-family: "Playfair Display", serif;
        font-style: italic;
        &:before, &:after {
          content: '"';
        }
      }
      .search-link {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background-color: #3c8dbc;
        border-color: #367fa9;
        color: white;
      }
    }
  }

}
