<script type="text/javascript">

// the map
var map = L.map('map').setView([51.505, -0.09], 12);		// London
//var map = L.map('map').setView([52.4775692, 13.5670469], 12);	// Berlin Kaulsdorf

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// icon
var purpleIcon = L.icon({
	iconUrl: '<%= asset_path('hammock.png') %>',
	shadowUrl: '<%= asset_path('marker-shadow.png') %>',

	iconSize:     [44, 52], // size of the icon
	shadowSize:   [60, 60], // size of the shadow
	iconAnchor:   [22, 50], // point of the icon which will correspond to marker's location
	shadowAnchor: [12, 60],  // the same for the shadow
	popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
var redIcon = L.icon({
	iconUrl: '<%= asset_path('hammock2.png') %>',
	shadowUrl: '<%= asset_path('marker-shadow.png') %>',

	iconSize:     [44, 52], // size of the icon
	shadowSize:   [60, 60], // size of the shadow
	iconAnchor:   [22, 50], // point of the icon which will correspond to marker's location
	shadowAnchor: [12, 60],  // the same for the shadow
	popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

// functions for events
function  markerHighlight (m) {
	m.openPopup();
	m.setIcon(redIcon);
}
function  markerDehighlight (m) {
	m.closePopup();
	m.setIcon(purpleIcon);
}

// ///////////////////////////
/*
// what are layers? markers?
layer.openTooltip(<LatLng> latlng?)
or
layer.openPopup(<LatLng> latlng?)

// map.flyTo(<LatLng> latlng, <Number> zoom?, <Zoom/pan options> options?)

// markers are added to a pane (default is markerPane)

marker.getLatLng()
marker.setLatLng(<LatLng> latlng)
marker.setIcon(<Icon> icon)
marker.remove()

http://jsfiddle.net/kedar2a/5VLJU/8/
	
*/
	//var testmarker = L.marker([52.4775692, 13.5670469]).addTo(map);
	//testmarker.bindPopup('Here!');
	//var ltlng = testmarker.getLatLng();
	//var p = testmarker.getPane();
	//console.log(ltlng);
	//console.log(p);
	//testmarker.openPopup();
	
	/* map.eachLayer(function (layer) { 
		//console.log(layer);
		if (layer.options.name === 'XXXXX') {
			layer.setLatLng([newLat,newLon])
		} 
	}); */

	////////////////////////
	
	/**
	 * map resize
	 * if sidebar is toggled: wait for 500ms and resize map (keep center)
	 * */
	$(".sidebar-toggle").on("click tap", function() {
		var c = map.getCenter();
		setTimeout( function() { 
				console.log("resize map!");
				map.invalidateSize();
				map.panTo(c);
			}, 500);
	});
	
	/**
	 * get current location (browser) and draw map
	 * default to London, if no coordinates present
	 * author: Laura
	 * */	
	function geoFindMe() {
	  if (!navigator.geolocation){error();}

	  function success(position) {
		var output = [position.coords.latitude, position.coords.longitude]
		var zoom = map.getZoom();
		map.flyTo(output, zoom)
		//map.setView(output, zoom)
		map.panTo(output);
	  };

	  function error() {
		// London coordinates
		//var output = [ -0.076132, 51.508530 ];
		//drawMap(output);
	  };

	  navigator.geolocation.getCurrentPosition(success, error);
	}
		
	/**
	 * wenn alles geladen ist: zentriere map auf derzeitigen Standort
	 * */
	$(document).ready(function(){
		console.log("do geosearch");
		geoFindMe();
	});
</script>
