<div class="container">

	<div id="map" class="leaflet-map"><div id="popup"></div></div>
    <%= render 'map3' %>
	
	<%#= render 'markers, sites: @sites %>
	<%#= render partial: 'markers', collection: @sites, as: :site, :formats => [:js] %>
	<%#= render partial: 'markers2', collection: @sites, as: :site %>
 
	<!-- bootstrap modal -->
	<%= render 'dialog' %>
</div>

<!-- important: sidebar must be rendered after map container, so that map is already there -->
<div class="main-sidebar">
  <div class="sidebar">
    <form class="sidebar-form">
      <div class="input-group">
        <input class="form-control" placeholder="Search..." type="text" id="search-input" autocomplete="off"/>
      </div>
    </form>
	<div id="search-results">
		<%#= link_to "New Site", new_site_path, remote: true, class: "btn btn-primary results-link" if can? :create, Site  %>
		<ul id="sites" class="sidebar-menu">
			<%= render @sites %>
		</ul>
	</div>
	<div id="single-result" style="display:none;">
		<ul id="site" class="sidebar-menu">
		</ul>
	</div>
  </div>
</div>

<div class="sidebar-toggle-div">
<!-- Sidebar toggle button-->
  <button class="sidebar-toggle" data-toggle="push-menu" aria-menu="seitliche Leiste aus- und einblenden">
	<i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i>
  </button>
</div>