<header class="main-header">
  <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>H</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Hammock</b>App</span>
    </a>
  <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
		  
          <!-- User Account: style can be found in dropdown.less -->
          <li id="user-dropdown" class="dropdown user user-menu">
			<%= render 'layouts/navigation/user' %>
          </li>
        </ul>
      </div>
    </nav>
  </header>