<div class="main-sidebar">
  <div class="sidebar">
    <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text" id="search-input" autocomplete="off"/>
        <span class="input-group-btn">
        <button class="btn btn-flat" id="search-btn" name="search" type="submit" >
        <i class="fa fa-search">
        </i></button></span>
      </div>
      <ul class="sidebar-menu" id="search-results"></ul>
    </form>
  </div>
</div>