<div class="main-sidebar">
  <div class="sidebar">
    <form class="sidebar-form">
      <div class="input-group">
        <input class="form-control" placeholder="Search..." type="text" id="search-input" autocomplete="off"/>
      </div>
      <ul class="sidebar-menu" id="search-results"></ul>
    </form>
  </div>
</div>